.containerTo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  
  top: 7vh;
  left: 0%;

  background-color: rgba(16, 16, 16, 0.288);
  
  width: 100%;
  height: 93vh;
}

.container {
  display: flex;
  align-items: center;

  background-color: #101010ea;
  border: 5px solid rgba(11, 8, 8, 0.488);
  border-radius: 20px;
  color: white;

  width: 180vh;
  height: 90%;
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 4%;
  border-radius: 10%;
}
.card {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1rem;
  margin-left: 8%;
}
.opinion {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 30vh;
}
