.all{
display: flex;
justify-content: center;
margin-top: 1%;
}
.container{
    display: flex;
    color: white;
    /* flex-direction: column; */
    align-items: center;
    border: 5px solid rgba(11, 8, 8, 0.488);
    border-radius: 5%;
    height: 90vh;
    width: 180vh;
    /* background-color: rgba(62, 72, 91, 0.604); */
    background-color: #10101098;
}
.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 4%;
    border-radius: 10%;
}
.card{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1rem;
    margin-left:  8%;
}
.opinion{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 30vh;
}