.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  background-color: gray;
  border-bottom: 1px solid black;
  border-radius: 0 0 8px 8px;

  width: 100%;
  height: 7vh;

  padding: 0.3rem 1rem;
}

.img {
  background-color: rgba(221, 46, 46, 0);

  left: 0;

  height: 5vh;

  transition: all 0.3s;
}

.img:hover {
  transform: scale(1.1);
}

.ul {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 0, 0, 0);

  list-style: none;

  padding: 0%;
  margin: 0 8% 0 0%;
}

.li {
  display: inline-block;

  background-color: rgba(255, 0, 0, 0);

  font-size: 3vh;

  margin: 0 1rem;

  transition: all 0.3s;
}

.li:hover {
  transform: scale(1.1);
}

.link {
  display: flex;
  align-items: center;

  text-decoration: none;

  color: black;

  background-color: rgba(255, 0, 0, 0);
}

.btn{
  display: flex;
  align-items: center;
  background-color: rgba(255, 0, 0, 0);
  border: none;
}

.btn:focus{
  outline: none;
}

[id="span"] {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(53, 53, 53);
  font-size: 6.8vh;
  cursor: pointer;
  transition: all 0.3s;
}

[id="span"]:hover {
  transform: scale(1.1);
  color: silver;
}

.antu{
  position: absolute;

  background-color: gray;
  border: 1px solid black;
  border-top: none;
  border-radius: 0 0 5px 5px;
  
  right: 90px;
  top: 59px;

  width: 150px;
  height: 100px;
}