* {
  margin: 0;
}

.Inventory{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.filters{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;

  background-color: #3e3d3dbd;
  border-radius: 10px;

  width: 70%;
  height: 7vh;

  gap: 1rem;
  margin-top: 1rem;
  padding: 1rem;
}

.cartas {
  display: flex;
  justify-content: flex-start;
  background: #3e3d3d77;
  padding: 15px;

  gap: 10px;
  flex-wrap: wrap;
  overflow-y: scroll;
  scroll-behavior: smooth;
  align-items: flex-start;
  flex-direction: row;
  width: 90vw;
  height: 67vh;
  margin: 0;
}
.cardContainer {
  padding: 5px;
}
.paginated {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}

.pag {
  background-color: var(--color-dark);
  border: 2px solid white;
  color: white;
  border-radius: 20%;
  margin: 0 0.2%;
  padding: 0.5rem;
}

.pag:hover {
  background-color: var(--color-darker);
}

.pagSelect {
  background-color: #3e3d3d;
  border: 2px solid white;
  color: white;
  border-radius: 20%;
  margin: 0 0.2%;
  padding: 0.5rem;
}
.inventoryContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #3e3d3dbd;
  border-radius: 10px;

  width: 100vw;
  height: 100%;

  margin-top: 1rem;
}

.buttons{
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
}

.btnCards{
  width: 50%;
  border-radius: 10px 0 0 0;
}

.btnDecks{
  width: 50%;
  border-radius: 0 10px 0 0;
}

.cartasYMazo {
  display: flex;
  align-self: flex-start;
  justify-content:flex-end;
  flex-wrap: wrap;
  overflow-y: scroll;
  align-items: center;
  flex-direction: row;
  height: 67vh;
  width: 50%;
  gap:10px;
  margin: 0;
  background-color: black;
}
.cartasYMazosContainer{
  justify-content: space-around;
  display: flex;
  width: 100%;
  gap:10px;
  margin-top: 20px;
}

.cardsAndDecksButtons{
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width:480px){
  .filters{
    padding: 0;
    margin:0;
    flex-direction: column;
    box-sizing: border-box;
    width: 30vw;
    height: 26vh;
    position: absolute;
    left: 0;
    overflow: hidden;
  }
  
}