.container{
    background-color: var(--container-background-main);
    border-radius: 20px;
    border: 2px solid white;
    height: 66vh;
    margin: 6rem;
    color: white;
    padding: 4rem;
}

.btnChat {
    display: inline;
    width: 100%;
    font-size: 1.4rem;
    margin: 1rem;
    border-radius: 10px;
    padding: 0.5rem 0;
    align-self: center;
    color: white;
    border: none;
    background-color: #0A58CA;
    transition: background-color .3s;
}

.btnChat:hover {
    background-color: #063e91;
}

.hello {
    position: absolute;
  top: 50%;
  left: 50%;
}