.containerTo{
  display: flex;
  justify-content: space-around;

  width: 100%;
}

.chatContainer {
  display: flex;
  flex-direction: row;

  background-color: white;
  outline: 2px solid black;
  
  width: 60%;
  height: 400px;
}

.chatUsers {
  background: rgb(7,109,150);
  background: linear-gradient(137deg, rgba(7,109,150,1) 0%, rgba(14,8,54,1) 100%);

  color: white;

  width: 15%;
  padding: 1rem;
}

.singleChatUser {
  outline: 2px solid black;
  cursor: pointer;
  border-radius: 5px;
  padding-left: 3%;
  padding-right: 3%;
}

.chatBodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  background: rgb(7,109,150);
  background: linear-gradient(137deg, rgba(7,109,150,1) 0%, rgba(14,8,54,1) 100%);

  color: white;

  width: 100%;

  padding: 1rem;
}

.chatText {
  width: auto;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 3%;
  overflow-y: auto;
  overflow-wrap: break-word;
}

.textArea {
  width: 320px;
  resize: none;
}

.chatForm {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 3%;
}
