.container {
  width: 100%;
  height: 68vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.msgContainer::-webkit-scrollbar {
  background: rgb(0, 44, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 30%,
    cyan 50%,
    rgba(255, 255, 255, 0) 70%
  );
  width: 20px;
}

.msgContainer::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, transparent 15px, cyan 0) top
      left,
    linear-gradient(-135deg, transparent 15px, cyan 0) top right,
    linear-gradient(-45deg, transparent 15px, cyan 0) bottom right,
    linear-gradient(45deg, transparent 15px, cyan 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  height: 18%;
}

.msgContainer {
  height: 63vh;
  width: 100%;
  font-size: 1.2rem;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--color-darker);
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.461);
  /* border-radius: 10px;
    border: 2px solid white; */
}

.msg {
  margin: 0;
  text-align: left;
}



.msgIni {
  display: flex;
  text-align: center;
}

.msgUsername {
  font-size: 1.4rem;
  color: #0d6efd;
}

.ownMsg{
  font-size: 1.4rem;
  color: #c99700;
}

.formContainer {
  display: flex;
  gap: 5rem;
}

.formContainer input {
  padding: 0 1rem;
  width: 100%;
}

.btn {
  display: inline;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  align-self: center;
  color: white;
  border: none;
  background-color: #0a58ca;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #063e91;
}

.input{
  height: 5vh;
}