.containerUsers {
  display: flex;
  flex-direction: column;

  color: white;

  width: 90%;
  height: 70vh;
  margin-top: 2rem;
}

.table {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 70%;

  background: rgb(7, 109, 150);
  background: linear-gradient(
    137deg,
    rgba(7, 109, 150, 1) 0%,
    rgba(14, 8, 54, 1) 100%
  );
  padding: 0.5rem 3rem 1rem 3rem;
  gap: .5rem;
}

.row {
  display: flex;
  align-items: center;
}

.row span {
  font-size: 1.5rem;

  height: 7vh;
}

.userTitle{
  width: 10%;
}

.statusTitle{
  width: 12.3%;
}

.userTitle{
  width: 10%;
}

.user {
  background-color: rgba(255, 255, 255, 0.3);

  font-size: 1.4rem;
  color: white;
  text-decoration: none;

  width: 10%;
}

.status {
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 1.4rem;
  width: 12%;
}

.status button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: white;
}

.rol {
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 1.4rem;
  width: 13%;
}

.rol select {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: none;
}

.btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: white;
  margin-right: 1.5%;
}
