.container {
    color: white;
}

.infoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    text-align: center;
}

.infoTransactionContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin: 1rem 0;
    padding: 1rem 0;
    text-align: center;
    background-color: var(--color-darker);
    border: 1px solid white;
    border-radius: 5000px;
    align-items: center;
}

.infoContainer p,.infoTransactionContainer p {
    margin: 0;
}