.background {
    background-color: #1c1b2294;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
}
.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mail{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.button{
    width: 30vh;
    height: 6vh;
    background-color: aqua;
    border-radius: 10%;
    margin-left: 5%;
}