.background {
    background-color: #1c1b2294;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);

}
.subbackground{
    padding: 5vh 0;
    width: 70vw;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: white;
    margin: 1rem;
    background-color: black;
    border-radius: 20px;
    border: 2px solid white;
    overflow-y: auto;
}
.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.829);
    border-radius: 20px;
    width: 80vh;
    height: 30vh;
    border: 2px solid white;

}
.mail{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.button{
    width: 30vh;
    height: 6vh;
    background-color: aqua;
    border-radius: 10%;
    margin-left: 5%;
}
.buttonClose{
    display: flex;
    background-color: red;
    border-radius: 15%;
    border: 2px solid white;
    margin-bottom: 31%;
    margin-left: 75%;  
    position: absolute;
  
}
.buttonClose2{
    display: flex;
    background-color: red;
    border-radius: 15%;
    border: 2px solid white;
    margin-bottom: 31%;
    margin-left: 77%;  
    position: absolute;
  
}