.game {
  position: absolute;
  top: 9vh;
  width: 100%;
  height: 91vh;
}

.secciones {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

.seccion {
  padding: 0.5rem;
  color: white;
  transition: background-color 0.3s, border 0.3s, font-weight 0.3s;
}

.btnImage {
  position: relative;
  cursor: pointer;
}

.seccion > h2 {
  position: absolute;
  top: 7%;
  margin-left: 3.3%;
}

.seccionesLow {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 78%;
}

.filtrosContainer {
  width: 15%;
  height: 100%;
  padding: 1%;
  margin-left: 1%;
}

.cartas {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

  background-image: url(../../img/album-card-container.svg);
  background-repeat: no-repeat;
  background-size: cover;

  border: 2px solid cyan;
  
  width: 1500px;
  height: 98%;

  margin: 0.5% 3% 0.5% 2%;
  padding: 2% 1% .5% 1%;
}

.disabled {
  cursor: not-allowed;
}

