.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  font-size: 1.2rem;

  width: 15%;
  height: 70%;

  /* margin: 2rem; */
  gap: 0.3rem;
}

.btnClearFilter {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: rgba(255, 255, 255, 0);
  background-image: url(../../../img/circle-15.svg);
  background-position: center;

  border-radius: 35px;
  border: none;
  color: white;

  width: 85px;
  height: 85px;

  padding-right: 4%;

  cursor: pointer;
}

.btnClearFilter:focus {
  outline: none;
}

.btn {
  text-align: center;

  background-color: rgba(255, 255, 255, 0);
  background-image: url(../../../img/filter-button.svg);
  background-position: center;

  border: none;
  color: white;
  -webkit-appearance: none;

  width: 225px;
  height: 45px;

  padding-right: 10px;
}

.select {
  text-align: center;

  background-color: rgba(255, 255, 255, 0);
  background-image: url(../../../img/select.svg);
  background-position: center;

  border: none;
  color: white;
  -webkit-appearance: none;

  width: 225px;
  height: 45px;

  padding-right: 10px;
}

.select:focus {
  outline: none;
  border: none;
}

.select > option {
  background-color: grey;
}
