.formContainer button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0;
  border: none;
  color: white;
  font-family: starcardsFont-fine;

  width: 90px;
  height: 36px;
  padding: 0 1rem;
}

.formContainer button:hover {
  background-color: rgb(185, 136, 0);
}
