.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 20px;
    width: 300px;
    height: 400px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0f0e0e;

}

.containerQuantity input{
    width: 60px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.containerRace {
    display: flex;
}

.price {
    color: lime;
}

.starsText {
    color: yellow;
}

.stock {
    color: blue;
}

.race {
    color: red;
}