.containerTo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

  background-image: url(../../../img/starpackC.svg);
  /* background-size: cover; */

  width: 260px;
  height: 350px;
}

.containerQuantity {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.2rem;
  color: white;

  width: 40%;
}

.containerRace {
  display: flex;
}

.priceDiv {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffffff00;
  background-image: url(../../../img/priceButton.svg);
  background-size: cover;

  width: 213px;
  height: 50px;
}

.price {
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
}

.starsTextBlue {
  color: #006de8;
}

.starsTextOrange {
  color: #e68201;
}

.stock {
  /* color: blue; */
  font-weight: bold;
}

.race {
  font-weight: bold;
  /* color: red; */
}

.pack {
  display: flex;
  justify-content: center;

  width: 266px;
  height: 282px;

  user-select: none;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.containerBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 80px;

  gap: 0.8rem;
}

.buyNow {
  background-color: rgba(255, 255, 255, 0);
  background-image: url(../../../img/buynowButton.svg);
  background-size: cover;

  border: none;

  font-size: 1.5rem;

  width: 178px;
  height: 60px;
}

.btn {
  background-color: rgba(255, 255, 255, 0);
  background-image: url(../../../img/addShopCart.png);
  background-size: cover;

  border: none;

  width: 60px;
  height: 60px;
}

/* .btn {
    border-radius: 20px;
    color: white;
    padding: 0.5rem 0.8rem;
    transition: background-color .3s;
} */

.btnMore {
  background-color: rgba(255, 255, 255, 0);
  background-image: url(../../../img/+button.svg);
  background-size: cover;

  border-radius: 50%;
  border: none;
  
  width: 25px;
  height: 25px;
}

.btnMinus {
  background-color: rgba(255, 255, 255, 0);
  background-image: url(../../../img/-button.svg);
  background-size: cover;

  border-radius: 50%;
  border: none;
  
  width: 25px;
  height: 25px;
}

.btnAddToCart {
  background-color: #0a58ca;
}

.btnBuyNow {
  background-color: #28a745;
}

.btnAddToCart:hover {
  background-color: #063e91;
}

.btnBuyNow:hover {
  background-color: #038220;
}

.withoutStock {
  color: #a50000;
}

.withoutStockText {
  text-decoration: line-through;
}