.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 20px;
    width: 300px;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0f0e0e;

}

.containerQuantity {
    border: 1px solid white;
    padding: 0.3rem 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 10px;
    background-color: black;
    margin-bottom: 1rem;
}

.containerQuantity button {
    border-radius: 10px;
}

.containerRace {
    display: flex;
}

.price {
    color: lime;
    font-size: 1.6rem;
}

.starsTextBlue {
    color: #006de8;
}

.starsTextOrange {
    color: #E68201;
}

.stock {
    /* color: blue; */
    font-weight: bold;
}

.race {
    font-weight: bold;
    /* color: red; */
}

.pack {
    display: flex;
    justify-content: center;

    width: 266px;
    height: 282px;

    user-select: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
}

.btn {
    border-radius: 20px;
    color: white;
    padding: 0.5rem 0.8rem;
    transition: background-color .3s;

}

.btnAddToCart {
    background-color: #0A58CA;
}

.btnBuyNow {
    background-color: #28A745;
}

.btnAddToCart:hover {
    background-color: #063e91;
}

.btnBuyNow:hover {
    background-color: #038220;
}