.ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.btn {
    background: none;
    color: #0E67EE;
    border: none;
    padding: 0;
    font-size: 1.3rem;
    text-decoration: underline;
}

.btn:hover{ 
    color: #0a58ca;
}