.containerTo {
  display: flex;
  justify-content: center;

  width: 100%;
}

.container {
  text-align: center;

  background: rgb(7, 109, 150);
  background: linear-gradient(
    137deg,
    rgba(7, 109, 150, 1) 0%,
    rgba(14, 8, 54, 1) 100%
  );
  color: white;

  width: 80%;

  margin: 1rem;
  padding: 1rem;
}

.allInfoContainer {
  background-color: #12498a;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #fafafa;
}

.infoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  text-align: center;
  padding: 1rem 0;
}

.infoContainer p {
  font-size: 1.3rem;
}

.allTransactionsContainer {
  height: 200px;
  overflow-y: auto;
}

.infoTransactionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin: 1rem 0;
  padding: 1rem 0;
  text-align: center;
  background-color: #270c73;
  border: 1px solid white;
  align-items: center;
}

.infoContainer p,
.infoTransactionContainer p {
  margin: 0;
}
