.about {
    background-color: var(--container-background-main);
    border-radius: 20px;
    border: 2px solid white;
    height: 93vh;
    margin: 1rem;
    color: white;
}

.secciones {
    display: flex;
    flex-direction: row;
    background-color: var(--color-dark);
    width: 100%;
    height: 5%;
}

.seccion {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid black;
    font-size: 1.5rem;
    width: calc(100% / 3);
    border: none;
    border-bottom: 1px solid transparent;
    transition: background-color .3s, border .3s, font-weight .3s;
    color: white;
}

.selected {
    background-color: var(--color-darker);
    color: aqua;
}

.seccionesLow {
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 95%;
}

.filtrosContainer {
    background-color: rgb(56, 56, 112);
    width: 20%;
    height: 98%;
    margin: .5% .5% .5% 0%;
    padding: 1%;
}

.filtros {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}

.cartas {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: white;
    width: 100%;
    height: 98%;
    margin: .5% 0% .5% 0%;
    padding: 1% 1% 0% 1%;
}