/* @font-face {
  font-family: starcardsFont-fine;
  src: url("../../../css/EurostileNextLTPro-Light.otf");
} */

.rules {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 78vh;

  margin-top: 0.5%;
}

.container {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.seccionInfo {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: start;
  overflow-y: auto;

  font-family: starcardsFont-fine;
  font-size: 1.3rem;

  color: white;

  width: 50%;
  height: 85%;
  padding: 1.5% 7% 0 2%;
}

.seccionInfo::-webkit-scrollbar {
  background: rgb(0, 44, 255);
  background: linear-gradient(90deg,
          rgba(255, 255, 255, 0) 30%,
          cyan 50%,
          rgba(255, 255, 255, 0) 70%);
  width: 20px;
}

.seccionInfo::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, transparent 15px, cyan 0) top left,
      linear-gradient(-135deg, transparent 15px, cyan 0) top right,
      linear-gradient(-45deg, transparent 15px, cyan 0) bottom right,
      linear-gradient(45deg, transparent 15px, cyan 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  height: 18%;
}

.seccionImg {
  display: flex;
  justify-content: end;

  width: 40%;
  height: 100%;

  padding: 2% 2% 0 0;
}

.img {
  height: 80%;
}
